body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 20vh;
}

.sbar {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    width: 40vw;
    font: 16px;
    box-sizing: border-box;
}

.sbutton {
    padding: 11px 20px;
    font: 16px;
    color: white;
    background-color: #0056b3;
    margin: 20px auto;
    border: none;
    border-radius: 4px;
}
.sbutton:hover {
    background-color: #0818A8;
}